<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287911607325-ishrdangn3bp0cnvgjmf2i8fe6p9h2g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287911607325-ishrdangn3bp0cnvgjmf2i8fe6p9h2g4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>287911607325-e121crp17mbhho7h2lfq53a2t14ts1hd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8A_0tVwLXjfc1BWEysi-k5GSfgIN53g</string>
	<key>GCM_SENDER_ID</key>
	<string>287911607325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlas</string>
	<key>PROJECT_ID</key>
	<string>atlas-8b3b8</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-8b3b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287911607325:ios:9d06e4bce0900dc8fd5af4</string>
</dict>
</plist>